{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "entry",
          "corejs": "3.16"
        }
      }
    ]
  ],
  "plugins": ["babel-plugin-transform-globalthis"]
}
